form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

label {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"] {
  margin-top: 1vh;
  border-radius: 5px;
  border-width: 1px;
  background-color: #e6e6e6;
  transition: all 0.5s;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover {
  background-color: #fff;
  transition: all 0.5s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  background-color: #fff;
  transition: all 0.5s;
}

input[type="submit"] {
  font-size: x-large;
  margin-top: 5vh;
  border-radius: 5px;
  border-width: 1px;
  width: 100%;
  background-color: #1f2940;
  color: #fff;
  padding: 5px;
  transition: all 0.5s;
}

input[type="submit"]:hover {
    background-color: #EADFC9;
    color:#000;
    transition: all 0.5s;
}

.sec-label{
  font-size: medium;
  margin-top: 1vh;
}

.form-white-background{
  background-color: white;
  width: 90%;
}

.red-label{
  color: red;
}

.bolt-text{
  font-weight: 700;
  font-size: x-large;
}

.text-medium-input{
  font-size: medium;
}

.text-x-large-input{
  font-size: x-large;
}

.input-number-no-arrow{
  -moz-appearance: textfield;
}

.input-number-no-arrow::-webkit-outer-spin-button,
.input-number-no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
