.modal {
  position: fixed;
  z-index: 500;
  background-color: rgba(20, 20, 20, 0.9);
  padding: 10px;
  width: 30%;
  left: 35%;
  top: 30%;
  min-height: 10%;
  color: white;
  text-align: center;
  font-size: x-large;
  border: 1px solid rgba(200, 200, 200, 0.4);
  border-radius: 10px;
}

.modal-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 499;
  background-color: rgba(220, 220, 220, 0.8);
}

.shadow-gray{
	box-shadow: 0px 0px 30px 10px rgba(50, 50, 50, 0.6);
}

.shadow-red{
	box-shadow: 0px 0px 30px 10px rgba(250, 0, 0, 0.4);
}

.shadow-green{
	box-shadow: 0px 0px 30px 10px rgba(0, 250, 0, 0.25);
}

.modal-transition{
    transition: all 0.35s ease-in-out;
}


.clickable:hover{
cursor: pointer;
}

/* Spinner animation */

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
  }
  @keyframes lds-ellipsis3 {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(0);
	}
  }
  @keyframes lds-ellipsis2 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(24px, 0);
	}
  }